<tr>
    <td>
        <div class="profile">
            <img class="profile-icon" src="../assets/Ellipse -1.png">
            <span>Amarpa Shashanka keethi kumar</span> 
        </div>
    </td>
    <td class="female">Female</td>
    <td class="section">
        <span>Sales</span>
        <span>HR</span>
        <span>Finance</span>
    </td>
    <td class="price">
        &#8377 10,000
    </td>
    <td class="start-date">
        29
    </td>
    <td class="icons">
        <span><img class="delete-icon" src="../assets/delete-black-18dp.svg"></span>
        <span><img class="edit-icon" src="../assets/create-black-18dp.svg"></span>
    </td>
</tr>