<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard</title>
    <script src="../js/index.js"></script>
    <link rel="stylesheet" href="../css/dashboard.css">
</head>
<body>
    <div class="navbar">
        <img src="../assets/logo.png" class="logo-icon">
        <div class="employee-payroll">
            <span style="color:#82A70C;">EMPLOYEE</span>
            <span style="color: #42515F;">PAYROLL</span>
        </div>
    </div>
    <div class="menu-bar">
        <div class="employee-details">Employee Details</div>
        <div class="search-icon-back">
           <img class="search-icon" src="../assets/ic--round-search.svg">
        </div>
        <button class="add-user-btn" onclick="redirect()">+ Add User</button>
    </div>
    <div class="main-content">
        <table>
            <tr class="table-header">
                <th>NAME</th>
                <th>GENDER</th>
                <th>DEPARTMENT</th>
                <th>SALARY</th>
                <th>START DATE</th>
                <th>ACTIONS</th>
            </tr>
            <tr>
                <td class="profile">
                    <span>
                        <img class="profile-icon" src="../assets/Ellipse -1.png">
                    </span>
                    <span>Amarpa Shashanka keethi kumar</span>
                </td>
                <td>Female</td>
                <td class="section">
                    <span>Sales</span>
                    <span>HR</span>
                    <span>Finance</span>
                </td>
                <td>
                    &#8377 10,000
                </td>
                <td class="start-date">
                    29 
                </td>
                <td class="icons">
                    <span><img class="delete-icon" src="../assets/delete-black-18dp.svg"></span>
                    <span><img class="edit-icon" src="../assets/create-black-18dp.svg"></span>
                </td>
            </tr>
            <tr>
                <td class="profile">
                    <span>
                        <img class="profile-icon" src="../assets/Ellipse -1.png">
                    </span>
                    <span>Amarpa Shashanka keethi kumar</span>
                </td>
                <td>Female</td>
                <td class="section">
                    <span>Sales</span>
                    <span>HR</span>
                    <span>Finance</span>
                </td>
                <td>
                    &#8377 10,000
                </td>
                <td>
                    29 
                </td>
                <td class="icons">
                    <span><img class="delete-icon" src="../assets/delete-black-18dp.svg"></span>
                    <span><img class="edit-icon" src="../assets/create-black-18dp.svg"></span>
                </td>
            </tr>
            <tr>
                <td class="profile">
                    <span>
                        <img class="profile-icon" src="../assets/Ellipse -1.png">
                    </span>
                    <span>Amarpa Shashanka keethi kumar</span>
                </td>
                <td>Female</td>
                <td class="section">
                    <span>Sales</span>
                    <span>HR</span>
                    <span>Finance</span>
                </td>
                <td>
                    &#8377 10,000
                </td>
                <td>
                    29 
                </td>
                <td class="icons">
                    <span><img class="delete-icon" src="../assets/delete-black-18dp.svg"></span>
                    <span><img class="edit-icon" src="../assets/create-black-18dp.svg"></span>
                </td>
            </tr>
            <tr>
                <td class="profile">
                    <span>
                        <img class="profile-icon" src="../assets/Ellipse -1.png">
                    </span>
                    <span>Amarpa Shashanka keethi kumar</span>
                </td>
                <td>Female</td>
                <td class="section">
                    <span>Sales</span>
                    <span>HR</span>
                    <span>Finance</span>
                </td>
                <td>
                    &#8377 10,000
                </td>
                <td>
                    29 
                </td>
                <td class="icons">
                    <span><img class="delete-icon" src="../assets/delete-black-18dp.svg"></span>
                    <span><img class="edit-icon" src="../assets/create-black-18dp.svg"></span>
                </td>
            </tr>
            <tr>
                <td class="profile">
                    <span>
                        <img class="profile-icon" src="../assets/Ellipse -1.png">
                    </span>
                    <span>Amarpa Shashanka keethi kumar</span>
                </td>
                <td>Female</td>
                <td class="section">
                    <span>Sales</span>
                    <span>HR</span>
                    <span>Finance</span>
                </td>
                <td>
                    &#8377 10,000
                </td>
                <td>
                    29 
                </td>
                <td class="icons">
                    <span><img class="delete-icon" src="../assets/delete-black-18dp.svg"></span>
                    <span><img class="edit-icon" src="../assets/create-black-18dp.svg"></span>
                </td>
            </tr>
            <tr>
                <td class="profile">
                    <span>
                        <img class="profile-icon" src="../assets/Ellipse -1.png">
                    </span>
                    <span>Amarpa Shashanka keethi kumar</span>
                </td>
                <td>Female</td>
                <td class="section">
                    <span>Sales</span>
                    <span>HR</span>
                    <span>Finance</span>
                </td>
                <td>
                    &#8377 10,000
                </td>
                <td>
                    29 
                </td>
                <td class="icons">
                    <span><img class="delete-icon" src="../assets/delete-black-18dp.svg"></span>
                    <span><img class="edit-icon" src="../assets/create-black-18dp.svg"></span>
                </td>
            </tr>
            <tr>
                <td class="profile">
                    <span>
                        <img class="profile-icon" src="../assets/Ellipse -1.png">
                    </span>
                    <span>Amarpa Shashanka keethi kumar</span>
                </td>
                <td>Female</td>
                <td class="section">
                    <span>Sales</span>
                    <span>HR</span>
                    <span>Finance</span>
                </td>
                <td>
                    &#8377 10,000
                </td>
                <td>
                    29 
                </td>
                <td class="icons">
                    <span><img class="delete-icon" src="../assets/delete-black-18dp.svg"></span>
                    <span><img class="edit-icon" src="../assets/create-black-18dp.svg"></span>
                </td>
            </tr>
            <tr>
                <td class="profile">
                    <span>
                        <img class="profile-icon" src="../assets/Ellipse -1.png">
                    </span>
                    <span>Amarpa Shashanka keethi kumar</span>
                </td>
                <td>Female</td>
                <td class="section">
                    <span>Sales</span>
                    <span>HR</span>
                    <span>Finance</span>
                </td>
                <td>
                    &#8377 10,000
                </td>
                <td>
                    29 
                </td>
                <td class="icons">
                    <span><img class="delete-icon" src="../assets/delete-black-18dp.svg"></span>
                    <span><img class="edit-icon" src="../assets/create-black-18dp.svg"></span>
                </td>
            </tr>
            <tr>
                <td class="profile">
                    <span>
                        <img class="profile-icon" src="../assets/Ellipse -1.png">
                    </span>
                    <span>Amarpa Shashanka keethi kumar</span>
                </td>
                <td>Female</td>
                <td class="section">
                    <span>Sales</span>
                    <span>HR</span>
                    <span>Finance</span>
                </td>
                <td>
                    &#8377 10,000
                </td>
                <td>
                    29 
                </td>
                <td class="icons">
                    <span><img class="delete-icon" src="../assets/delete-black-18dp.svg"></span>
                    <span><img class="edit-icon" src="../assets/create-black-18dp.svg"></span>
                </td>
            </tr>
            <tr>
                <td class="profile">
                    <span>
                        <img class="profile-icon" src="../assets/Ellipse -1.png">
                    </span>
                    <span>Amarpa Shashanka keethi kumar</span>
                </td>
                <td>Female</td>
                <td class="section">
                    <span>Sales</span>
                    <span>HR</span>
                    <span>Finance</span>
                </td>
                <td>
                    &#8377 10,000
                </td>
                <td>
                    29 
                </td>
                <td class="icons">
                    <span><img class="delete-icon" src="../assets/delete-black-18dp.svg"></span>
                    <span><img class="edit-icon" src="../assets/create-black-18dp.svg"></span>
                </td>
            </tr>
            <tr>
                <td class="profile">
                    <span>
                        <img class="profile-icon" src="../assets/Ellipse -1.png">
                    </span>
                    <span>Amarpa Shashanka keethi kumar</span>
                </td>
                <td>Female</td>
                <td class="section">
                    <span>Sales</span>
                    <span>HR</span>
                    <span>Finance</span>
                </td>
                <td>
                    &#8377 10,000
                </td>
                <td>
                    29 
                </td>
                <td class="icons">
                    <span><img class="delete-icon" src="../assets/delete-black-18dp.svg"></span>
                    <span><img class="edit-icon" src="../assets/create-black-18dp.svg"></span>
                </td>
            </tr>
        </table>
    </div>
</body>
</html>