<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PayRoll Form</title>
    <link rel="stylesheet" href="../css/dashboard.css">
</head>
<body>
    <div class="navbar">
        <img src="../assets/logo.png" class="logo-icon">
        <div class="employee-payroll">
            <span style="color:#82A70C;">EMPLOYEE</span>
            <span style="color: #42515F;">PAYROLL</span>
        </div>
    </div>
</body>
</html>